<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="pdfkit-page-size" content="A4" />
    <title>MORTGAGE PROPOSAL</title>
    <style>
      body {
        font-family: Calibri, sans-serif;
        line-height: 1.5;
        font-size: small;
      }
      @media screen and (max-width: 768px) {
        body {
          padding: 5%;
        }
      }
      @media screen and (max-width: 480px) {
        body {
          padding: 5%;
        }
      }
      .logo {
        display: block;
        max-width: 150px;
        height: auto;
        margin: 20px 0;
      }
      h1 {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      h1 img {
        margin-right: 20px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        border: 1px solid black;
        padding: 7px;
        text-align: left;
      }
      .first-table th {
        background-color: #afcab1;
      }
      .first-table tr:nth-child(even) td {
        background-color: #afcab1;
      }
      .first-table th,
      .first-table td {
        border-top-width: 0 !important;
        border-bottom-width: 0 !important;
      }
      .first-table thead tr:nth-of-type(1) th:nth-of-type(3) {
        border-bottom-width: 1px !important;
        border-bottom-color: #000;
        border-bottom-style: solid;
      }
      .first-table th {
        background-color: #afcab1;
      }
      .second-table {
        border-collapse: collapse;
        border: 0;
      }
      .second-table th {
        background-color: #afcab1;
      }
      .second-table th,
      .second-table td {
        border: 0;
        padding: 3px;
      }
      .second-table td {
        border-bottom-width: 1px !important;
        border-bottom-color: #000;
        border-bottom-style: solid;
      }
      .second-table th td:last-child {
        border-bottom-width: 0 !important;
      }
      .top {
        display: flex;
        flex-direction: column;
        gap: 2;
      }

      .page {
        page-break-before: always; /* Force page break before each element with the "page" class */
      }
    </style>
  </head>
  <body>
    <div class="page">
      <h1 class="top">
        <img src="/assets//images/purple-logo.jpg" alt="Logo" class="logo" />
        MORTGAGE PROPOSAL
      </h1>
      <p><strong>Prepared For:</strong> {{firstName}} {{lastName}}</p>
      <p style="text-align: right"><strong>Date:</strong> {{formattedDate}}</p>
      <h3>Introduction</h3>
      <p>
        <em>
          <a href="https://sirefinance.com" style="color: #657160; text-underline-offset: 2px;">Sire Finance</a> Commercial Brokers mortgage services
          provide experienced and high-performance brokers to ensure your application is processed efficiently and
          properly to avoid delays and mistakes.
        </em>
      </p>
      <p>
        <em>
          Sire Finance is based in Dubai, licensed by the Dubai Economic Department (DED), with over 32 years'
          experience collectively.
        </em>
      </p>
      <table class="second-table" border="1" cellpadding="8" cellspacing="0">
        <tr>
          <th colspan="2" style="font-size: 16px">
            <center>Mortgage Calculation</center>
          </th>
        </tr>
        <tr>
          <td colspan="2">
            <em><center>Included all transaction related charges</center></em>
          </td>
        </tr>
        <tr>
          <th colspan="2">Finance Amount Calculation</th>
        </tr>
        <tr>
          <td><em>Property Value</em></td>
          <td>{{propertyValue}}</td>
        </tr>
        <tr>
          <td><em>Loan To Value (Based on customer profile)</em></td>
          <td>{{finance.loanToValue }}%</td>
        </tr>
        <tr>
          <td><em>Finance Amount</em></td>
          <td>{{finance.financeAmount}}</td>
        </tr>
        <tr></tr>
        <tr>
          <th colspan="2">Monthly Installment and Insurance Calculation (Based on Maximum Tenor as per age)</th>
        </tr>
        <tr>
          <td><em>Monthly Installment (Loan)</em></td>
          <td>{{installmentAndInsurance.monthlyInstallment}}</td>
        </tr>
        <tr>
          <td><em>Life Insurance</em></td>
          <td>{{installmentAndInsurance.lifeInsurance}}</td>
        </tr>
        <tr>
          <td><em>Property Insurance</em></td>
          <td>{{installmentAndInsurance.propertyInsurance}}</td>
        </tr>
        <tr>
          <th colspan="2">Bank Charges (One time charges which needs to be paid for entire loan processing)</th>
        </tr>
        <tr>
          <td><em>Pre-Approval Fee</em></td>
          <td>{{bankCharges.preApprovalFee}}</td>
        </tr>
        <tr>
          <td><em>Processing Fee</em></td>
          <td>{{bankCharges.processingFee}}</td>
        </tr>
        <tr>
          <td><em>Valuation Fee</em></td>
          <td>{{bankCharges.valuationFee}}</td>
        </tr>
        <tr></tr>
        <tr>
          <th colspan="2">Land Department Charges (Based on transaction type)</th>
        </tr>
        <tr>
          <td><em>Transfer Fee</em></td>
          <td>{{landDepartmentCharges.transferFee}}</td>
        </tr>
        <tr>
          <td>Mortgage Fee</td>
          <td>{{landDepartmentCharges.mortgageFee}}</td>
        </tr>
        <tr>
          <td><em>Trustee Office Fee</em></td>
          <td>{{landDepartmentCharges.trusteeFee}}</td>
        </tr>
        <tr>
          <td><em>Title Deed Fee</em></td>
          <td>{{landDepartmentCharges.titleDeedFee}}</td>
        </tr>
        <tr>
          <th colspan="2">Real Estate Charges (Based on transaction type)</th>
        </tr>
        <tr>
          <td><em>Real Estate Fee</em></td>
          <td>{{realEstateCharges}}</td>
        </tr>
      </table>
      <p style="color: red; font-weight: bold">
        <em>
          NOTE: If the property value is more than 5 million, then the maximum loan is 65% of the property value. For
          such cases, we need to send a proposal manually.
        </em>
      </p>
    </div>
    <!-- <br /><br /> -->
    <div class="page">
      <h3>
        Top 3 Market Offers
        <em style="font-weight: 100">(As per your profile based on provided data)</em>
      </h3>
      <table class="first-table">
        <thead>
          <tr>
            <th rowspan="2"><center>PRODUCT TYPE</center></th>
            <th colspan="3" style="background-color: #fff">
              <center>Bank Offers</center>
            </th>
          </tr>
          <tr>
            <th><center>Bank 1</center></th>
            <th><center>Bank 2</center></th>
            <th><center>Bank 3</center></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><center>{{ bank1.row1 }}</center></td>
            <td><center>{{ bank2.row1 }}</center></td>
            <td><center>{{ bank3.row1 }}</center></td>
          </tr>
          <tr>
            <td><strong>OUR REVIEWS</strong></td>
            <td><center>{{ bank1.ourReviews }}</center></td>
            <td><center>{{ bank2.ourReviews }}</center></td>
            <td><center>{{ bank3.ourReviews }}</center></td>
          </tr>
          <tr>
            <td><strong>LOAN TYPE</strong></td>
            <td><center>{{ bank1.loanType }}</center></td>
            <td><center>{{ bank2.loanType }}</center></td>
            <td><center>{{ bank3.loanType }}</center></td>
          </tr>
          <tr>
            <td><strong>PRE APPROVAL FEE</strong></td>
            <td><center>{{ bank1.preApprovalFee }}</center></td>
            <td><center>{{ bank2.preApprovalFee }}</center></td>
            <td><center>{{ bank3.preApprovalFee }}</center></td>
          </tr>
          <tr>
            <td><strong>PROCESSING FEE</strong></td>
            <td><center>{{ bank1.processingFee }}</center></td>
            <td><center>{{ bank2.processingFee }}</center></td>
            <td><center>{{ bank3.processingFee }}</center></td>
          </tr>
          <tr>
            <td><strong>VALUATION FEE</strong></td>
            <td><center>{{ bank1.valuationFee }}</center></td>
            <td><center>{{ bank2.valuationFee }}</center></td>
            <td><center>{{ bank3.valuationFee }}</center></td>
          </tr>
          <tr>
            <td><strong>FIXED RATE</strong></td>
            <td><center>{{ bank1.fixedRate }}</center></td>
            <td><center>{{ bank2.fixedRate }}</center></td>
            <td><center>{{ bank3.fixedRate }}</center></td>
          </tr>
          <tr>
            <td><strong>VARIABLE RATE POST FIXED PERIOD</strong></td>
            <td><center>{{ bank1.variableRate }}</center></td>
            <td><center>{{ bank2.variableRate }}</center></td>
            <td><center>{{ bank3.variableRate }}</center></td>
          </tr>
          <tr>
            <td><strong>VARIABLE DAY 1</strong></td>
            <td><center>{{ bank1.variableDay1 }}</center></td>
            <td><center>{{ bank2.variableDay1 }}</center></td>
            <td><center>{{ bank3.variableDay1 }}</center></td>
          </tr>
          <tr>
            <td><strong>LIFE INSURANCE</strong></td>
            <td><center>{{ bank1.lifeInsurance }}</center></td>
            <td><center>{{ bank2.lifeInsurance }}</center></td>
            <td><center>{{ bank3.lifeInsurance }}</center></td>
          </tr>
          <tr>
            <td><strong>PROPERTY INSURANCE</strong></td>
            <td><center>{{ bank1.propertyInsurance }}</center></td>
            <td><center>{{ bank2.propertyInsurance }}</center></td>
            <td><center>{{ bank3.propertyInsurance }}</center></td>
          </tr>
          <tr>
            <td><strong>EARLY SETTLEMENT</strong></td>
            <td><center>{{ bank1.earlySettlement }}</center></td>
            <td><center>{{ bank2.earlySettlement }}</center></td>
            <td><center>{{ bank3.earlySettlement }}</center></td>
          </tr>
          <tr>
            <td><strong>PARTIAL SETTLEMENT</strong></td>
            <td><center>{{ bank1.partialSettlement }}</center></td>
            <td><center>{{ bank2.partialSettlement }}</center></td>
            <td><center>{{ bank3.partialSettlement }}</center></td>
          </tr>
          <tr>
            <td><strong>Fee Finance</strong></td>
            <td>{{ bank1.feeFinance }}</td>
            <td>{{ bank2.feeFinance }}</td>
            <td>{{ bank3.feeFinance }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="page">
      <h1>Required Documents</h1>
      <ul>
        {{#documents}}
        <li>{{name}}</li>
        {{/documents}}
      </ul>

      <h1>Mortgage Process</h1>
      <ul>
        <li>After receipt of proposal, there are following steps needs to be done</li>
        <li>
          You will send us documents through email or WhatsApp. We will create the final proposal after checking your
          documents and discuss with you
        </li>
        <li>
          You will sign the Bank application which will be sent based on the selection of the bank in the final proposal
        </li>
        <li>The application will be submitted to the Bank from Fin Experts</li>
        <li>You need to pay the "Pre-Approval Fee" directly to the Bank in case it is applicable</li>
        <li>The Bank will process the Application and send the Pre-Approval Letter</li>
        <li>
          In case of Secondary Market purchase, you need to finalize the property and send us the signed MOU along with
          property documents. In case of Primary Market purchase, you need to provide us the Sales Purchase Agreement,
          Developer Loan Account Statement, and Oqood / Initial Contract of Sales. In case of Buyout and Equity release,
          only the property Title Deed and Floor Plan required
        </li>
        <li>
          You need to pay the Bank valuation fee directly to the Bank. The Bank's assigned valuation company will visit
          the property and send the Valuation Report to the Bank
        </li>
        <li>
          The Bank will issue the Final Offer Letter, and you need to sign the Bank Final Offer Letter along with other
          disbursal documents and submit them to the bank for the issuance of Manager Cheques
        </li>
        <li>
          In case of Secondary Market Purchase, Buyout, and Equity Release, Transfer and/or mortgage will be done in
          trustee office (Dubai Land Department Registered Office). In case of Primary Market Purchase, the remaining
          process of transfer will be done at Developer Office
        </li>
      </ul>

      <h1>Disclaimer</h1>
      <ul>
        <li>
          <em
            >This proposal is system generated based on property value. Also, the maximum age considered 65 years, while
            in few cases, we can calculate mortgage tenor by considering maximum age 70 years
          </em>
        </li>
        <li>
          <em
            >The calculation of fee finance is not mentioned in this proposal as it depends on customer profile and type
            of transaction and can be calculated manually after checking documents</em
          >
        </li>
        <li>
          <em>
            The stated transaction related fee and bank offers are for indicative purposes and subject to change without
            notice</em
          >
        </li>
        <li><em>VAT maybe applied to any of the above charges</em></li>
        <li>
          <em
            >This illustration does not constitute an offer of finance and mortgage T&amp;C's are subject to change.</em
          >
        </li>
        <li>
          <em>Fin Expert Commercial Brokers and its staff accepts no responsibility for errors or omissions</em>
        </li>
        <li><em>Mortgage terms and conditions are subject to change</em></li>
      </ul>
    </div>
  </body>
</html>
